version: '3'
services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: business-manager-app
    container_name: business-manager-app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
      - ./backend/docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - business-network

  web:
    image: nginx:alpine
    container_name: business-manager-nginx
    restart: unless-stopped
    tty: true
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./backend/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - business-network
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: business-manager-db
    restart: unless-stopped
    tty: true
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: business_manager
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - business-network

networks:
  business-network:
    driver: bridge

volumes:
  dbdata:
    driver: local
